.container {
  background: #e8e8ee;
  background: #fffbff;
  height: 100vh;
  padding-left: 3em;
}

.title {
  margin-top: 0;
  padding-top: 1em;
}

.Calculator {
  margin: 0;
  padding: 0;
  border: 1px black solid;
  width: 20em;
  border-radius: 5px;
}
